<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FoodHubDB"
			 connectionString="Data Source=HAZARDOUS-LAPTO;Initial Catalog=FoodHubDB;Integrated Security=True;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
